jdbc.default.driverClassName=org.postgresql.Driver
jdbc.default.url=jdbc:postgresql://{{ db_ip }}:5432/{{ db_name }}
jdbc.default.username={{ db_user }}
jdbc.default.password={{ db_password }}
jdbc.default.jndi.name=java:jboss/datasources/LiferayPool
