[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ prometheus_base_dir }}/prometheus --config.file={{ prometheus_base_dir }}/prometheus.yml
Restart=always

[Install]
WantedBy=multi-user.target